* {
  font-family: "Lato", sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  /* Make downstream heights behave predictably */
  height: 100%;
}

/* Add styles here! */
/* General Styles */
p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

.max-width-wrapper {
  /* Trick for centering (be sure to set width!) */
  margin: 0 auto;
  padding: 0 24px;

  max-width: 800px;
}

/* Header Styles */
header {
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;

  max-width: 415px;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 3rem;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

/* Main Styles */
main {
  padding: 64px 0;

  background-color: hsl(0deg, 0%, 40%);
  height: 100%;
}

main > section .card {
  margin: 0 -24px;
  padding: 24px;

  background-color: hsl(0deg, 0%, 100%);
  border-bottom: solid hsl(0deg, 0%, 60%) 8px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 24px;

  margin: -16px 0px 1rem -36px;

  border-bottom: solid hsl(45deg, 100%, 40%) 8px;

  font-size: 1.5rem;
  line-height: 1.2;
}
